/*-------------------------------------------------------*
	template-name: Appload || Landing HTML5 Template
	template-url: 
	author-name: BeeTheme_
	author-url: https://themeforest.net/user/beetheme_
*-------------------------------------------------------*/


/*-- medium-layout-1280px --*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .welcome-image img,
    .features-image img,
    .tab-mobile img {
        max-width: 450px;
    }
    .google-icon i,
    .apple-icon i {
        margin: 10px 10px 0 0;
    }
    .features-image {
        padding-top: 50px;
    }
    .screenshot-mobile img {
        max-width: 171px;
        top: -45px;
    }
    .single-slide img {
        max-width: 139px;
    }
    .single-member {
        padding: 48px 10px;
    }
    .single-widget input[type="email"] {
        padding: 10px 15px;
        width: 152px;
    }
    .single-widget input[type="submit"] {
        width: 60px;
    }
}


/*-- tablet-layout-768px --*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-top-area,
    .welcome-area,
    .about-area,
    .theme-area {
        text-align: center;
    }
    .main-menu ul {
        margin-top: 24px;
        float: none;
    }
    .welcome-btn {
        max-width: 460px;
        margin: auto;
        margin-top: 48px;
    }
    .welcome-image img {
        margin: auto;
        margin-top: 48px;
    }
    .about-image img {
        margin: auto;
    }
    .theme-content {
        padding-top: 0;
    }
    .theme-image img {
        padding-top: 50px;
        margin: auto;
    }
    .features-image img,
    .tab-mobile img,
    .screenshot-mobile img {
        display: none;
    }
    .single-features-item {
        display: block;
        text-align: center;
    }
    .single-features-icon {
        margin-bottom: 24px;
    }
    .marginTop-sm-48 {
        margin-top: 48px;
    }
    .tab-accordion .tab {
        text-align: center;
    }
    .single-slide img {
        max-width: 222px;
    }
    .screenshot-text,
    .work-area {
        text-align: center;
    }
    .single-brand img {
        max-width: 110px;
    }
}


/*-- mobile-layout-320px --*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 72px 0;
    }
    .section-margin {
        margin-top: 72px;
    }
    .main-menu ul {
        display: none;
        float: none;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        background: rgba(45, 52, 54, .9);
        padding: 20px 10px;
        z-index: 9999;
    }
    .main-menu ul li {
        display: block;
    }
    .custom-navbar {
        display: block;
    }
    .main-menu ul li {
        margin: 5px 0;
    }
    .main-menu ul li a {
        color: #fff;
    }
    .main-menu ul li a:hover {
        color: #fff;
    }
    .welcome-area {
        text-align: center;
    }
    .welcome-btn {
        display: inline-block;
    }
    .marginTop-xs-24 {
        margin-top: 24px;
    }
    .google-btn,
    .apple-btn {
        padding: 10px 16px;
    }
    .google-btn {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .welcome-image img {
        max-width: 280px;
        margin: auto;
        margin-top: 48px;
    }
    .about-area,
    .theme-area {
        text-align: center;
    }
    .theme-content {
        padding-top: 0;
    }
    .about-image img,
    .theme-image img {
        max-width: 280px;
        margin: 0 auto;
    }
    .theme-image img {
        margin-top: 48px;
    }
    .features-image img,
    .tab-mobile img,
    .screenshot-mobile img {
        display: none;
    }
    {
        display: none;
    }
    .single-features-item {
        display: block;
        text-align: center;
    }
    .single-features-icon {
        margin-bottom: 24px;
    }
    .marginTop-xs-48 {
        margin-top: 48px;
    }
    .tab-accordion .tab,
    .screenshot-text {
        text-align: center;
    }
    .tab-accordion .tab ul {
        background: none;
    }
    .tab-accordion .tab ul li {
        padding: 15px 10px;
    }
    .single-slide img {
        max-width: 280px;
        margin: auto;
    }
    .screenshot-text {
        padding-top: 48px;
    }
    .brands {
        display: inline;
        text-align: center;
    }
    .single-brand {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .single-brand:last-child {
        display: none;
    }
    .single-pricing-standard h4 {
        color: #fff;
    }
    .cta-area,
    .work-content {
        text-align: center;
    }
    .cta-btn {
        display: inline-block;
        width: auto;
    }
    .cta-area span.role-hr {
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}